        .mt-5{
            margin: auto;
            display: flex;
            justify-content: center;
        }
        .container {
            max-width: 800px;
            margin: 0 auto;
            text-align: center; /* Centrer le contenu à l'intérieur */
        }
        
        form {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            display: inline-block; /* Ajouter une disposition en ligne pour centrer */
        }
/* Reset des styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center; /* Centrer le contenu à l'intérieur */
}

h2 {
    text-align: center;
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

.alert {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

/* Formulaire */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: inline-block; /* Ajouter une disposition en ligne pour centrer */
}

.form-label {
    margin-bottom: 5px;
    display: block;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 100%;
    text-align: center;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Médias Query */
@media (max-width: 600px) {
    h2 {
        font-size: 24px;
    }
}
        