/* Style général pour la page d'inscription */
.registration-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Style pour le titre de la page */
.page-title {
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    color: #333;
}

/* Style pour les messages d'erreur */
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

/* Style pour les étiquettes des champs */
.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Style pour les champs de saisie */
.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style pour le bouton de soumission */
.btn-primary {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}



/* Style général pour la page de connexion */
.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Style pour le titre de la page */
.page-title {
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    color: #333;
}

/* Style pour les messages d'erreur */
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

/* Style pour les étiquettes des champs */
.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Style pour les champs de saisie */
.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style pour le bouton de soumission */
.btn-primary {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}
